.item {
    display: block;
    padding: 10px;
}
.item-details {
    min-width: 400px;
    display: inline;
}
.new-item-input {
    display: inline-block;
    padding: 10px;
    min-height: 110px;
    vertical-align: top;
}
ul {
    list-style-type:none;
}
.remove-btn {
    margin: 10px;
}
.action-btn {
    margin: 10px;
}
.error-msg {
    width: 150px;
    color: red;
    font-size: 10px;
}